<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--为User设置别名，User方便调用-->
    <typeAliases>
        <typeAlias alias="User" type="com.silverdawn.qiuqiu.domain.User"></typeAlias>
    </typeAliases>

</configuration>